@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* In globals.css */
:root {
    --primary-color: #4bab4b;
    --sections-green: #5DA546;
    --secondary-color: rgba(0, 0, 0, 0.7);
}