.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em;

}

.section-header h2 {
    color: #CE2C34;
    font-family: var(--font-monserratSemiBold);
    font-size: 1.6em;
    font-weight: bold;
}

.section-header h3 {
    color: var(--sections-green);
    font-size: 2.9em;
    font-family: var(--font-monserratSemiBold);
    width: 520px;
    font-weight: 600;


}

.btn {
    width: 200px;
    height: 80px;
    padding: 15px;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    font-size: 1rem;
    background-color: var(--sections-green);

}

@media screen and (max-width: 900px) {
    .section-header {
        flex-direction: column;
        gap: 2em;
        margin: 2em;
    }

    .titles h3 {
        width: 100%;
        margin: 0;
        font-size: 2em;
        line-height: 1.1;
        margin-top: 1em;

    }

    .btn {
        height: 50px;
        width: 150px;
    }
}