.logo {
    width: 120px;
    height: 60px;
    background-image: url("../../../public/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.mobileNavLinks {
    font-family: var(--font-avenirLight);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
    /* background-color: rgb(229, 229, 229);
    height: 150px; */
}

.nav-items-left,
.nav-items-right {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    border: var(--primary-color) 1px solid;

}

.nav-items-left a {
    display: flex;
}


.nav-items-right {
    justify-content: space-around;
    font-family: var(--font-ganache);
}

.nav-items-right a {
    position: relative;
    height: 60px;
    align-items: center;
    z-index: 1;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-right a:last-child {
    background-color: var(--primary-color);
    color: black;
    text-align: center;
}

.nav-items-right a:last-child:hover {
    background-color: black;
    color: var(--primary-color)
}

.nav-items-right a:hover {
    background-color: white;
    color: black;
    transition: all .3s ease-in;
}

.nav-items-left {
    justify-content: center;
}

.nav-items-left p {
    width: 150px;
    font-family: var(--font-monserratSemiBold), 'sans-serif';
}

.nav-items-left img {
    position: relative;
    z-index: 1;
}

.nav-items-left p {
    margin: 0 10px;
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.btn {
    width: 150px;
    padding: 15px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    margin: 1rem;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    display: none;
}

.nav-btn {
    visibility: hidden;
}

.nav-btn-close {
    display: none;
}

@media screen and (max-width: 1050px) {

    .nav-items-right {
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        flex-wrap: wrap;
    }

    .nav-items-right a {
        padding: 1em;
    }

}


@media screen and (max-width: 900px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        background-color: white;
        justify-content: flex-start;
        height: 230px;

    }

    .btn {
        display: block;

    }

    .nav-items-left {
        display: flex;
        flex-direction: column;
        height: 150px;
        gap: 30px;

    }

    .nav-items-left a {
        display: inherit;
        flex-direction: column;
        height: 150px;
        align-items: center;
        gap: 25px;
    }

    /* .nav-items-left {
        display: flex;
        flex-direction: column;
    } */

    .nav-btn {
        visibility: visible;
        color: var(--primary-color);
        font-size: 2em;
        z-index: 5;
        position: absolute;
        top: 15px;
        right: 15px;

    }

    .nav-btn-close {
        color: var(--primary-color);
        font-size: 2em;
        z-index: 3;
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;

    }

    .visible {
        display: none;
    }

    .nav-items-right {
        flex-direction: column;
        transform: translateY(-180vh);
        background-color: white;
        z-index: 3;
        opacity: 0;
        flex-wrap: nowrap;
        border: none;
    }

    .nav-items-right.show {
        flex-direction: column;
        justify-content: flex-start;
        padding: 5em;
        align-items: center;
        transform: translateY(0vh);
        background-color: white;
        color: black;
        transition: transform 0.4s linear, opacity .5s ease-in-out, ;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .nav-items-right.hide {
        transform: translateY(-180vh);
        transition: transform 0.4s linear, opacity .5s ease-in-out, ;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    /* 
    .hamburger-icon {
        z-index: 3;
        color: rgb(0, 0, 0);
        font-size: 3em;
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px 15px 0 0;
        visibility: visible;

    }
: 3;
    .navbar {
        flex-direction: column;
        border: 1px solid blue;
    }

    .nav-items-right {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        gap: 1.5rem;
        background-color: rgb(255, 255, 255);
        transition: 1s;
        transform: translateY(0vh);
        z-index: 5;


    }

    .nav-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        color: black;
        z-index: 5;
    }



} */

}