.main-container {
    max-width: 1400px;
    margin: 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 6em;
}

.headline {
    color: var(--sections-red);
    font-size: 3rem;
    font-weight: 600;
}

.form-info {
    display: flex;
    gap: 2rem;
    margin: 1em;
    align-items: center;
}

.form-info p {
    font-size: 1.1em;
}

.form-icons {
    font-size: 2rem;
}