.main-container {
    max-width: 1400px;
    margin: 6em;
}

.h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--sections-red);
    font-weight: 600;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ordered-list {
    list-style: decimal;
    padding: 1em;
    width: 70%;
}

.margin-top {
    margin-top: 1em;
}

.ordered-list>li::marker {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 600;


}

.list-headline {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;

}

.unordered-list {
    list-style-type: disc;
    margin-left: 2em;
    margin-top: .3em;
}

.unordered-list p {
    margin-top: .2em;
}

.item {
    list-style-type: disc;
    margin-top: 1em;
}

.text {
    margin-top: 2em;
    margin-right: 4em;
    align-self: flex-end;
}

.link {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media screen and (max-width: 900px) {

    .main-container {
        margin: 4em;
    }

    .ordered-list {
        width: 100%;
    }


}

@media screen and (max-width: 500px) {

    .main-container {
        margin: 2em;
    }

    .ordered-list {
        width: 100%;
    }

    .text {
        align-self: flex-start;
    }

}