.background-img {
    background-image: url("../../../public/header.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.background-img::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
}

/* .header-cover {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1500px;
    height: 100%;
    opacity: 0.3;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


.main-title {
    color: white;
    font-size: 105px;
    width: 500px;
    line-height: 1.2;
    font-weight: 600;
    font-family: var(--font-montserrat-alt1);
    ;

}

.second-title {
    color: white;
    font-size: 35px;
    width: 800px;
    font-family: var(--font-montserrat-alt1);
    font-weight: 600;
}

.header-text {
    position: relative;
    margin: 150px;
    z-index: 1;
}

.btn {
    display: inline-block;
    width: 150px;
    padding: 15px;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

.btn.projects {
    color: black;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn.projects:hover {
    background-color: black;
    color: white;
    transition: all .3s linear;
}

.btn.cta {
    background-color: transparent;
    border: 1px solid white;
    color: white;

}

.btn.cta:hover {
    color: black;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all 0.3s linear;
}

.transparent {
    background-color: transparent;
}

@media screen and (max-width: 900px) {



    .header-text {
        margin: 1em 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;

    }



    .main-title {
        font-size: 45px;
        width: 100%;


    }

    .second-title {
        width: 100%;
        font-size: 35px;
    }




}