.titles {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.titles h2 {
    color: var(--sections-red);
    font-family: var(--font-montserratBold);
    font-size: 1.6em;
    font-weight: bold;

}

.titles h3 {
    color: var(--sections-green);
    font-size: 3.1em;
    font-family: var(--font-monserratSemiBold);
    width: 580px;
    line-height: 1.2;
}

.subtitle.normal {
    width: 500px;
}

.subtitle.wide {
    width: 680px;
}

.subtitle.wide-max {
    width: 800px;
}

.subtitle.light {
    font-family: var(--font-monserratSemiBold);
}

.subtitle.bold {
    font-family: var(--font-montserratBold);
}




.titles p {
    width: var(--paragraph-width, 400px);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 80px;
    padding: 15px;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    font-size: 1rem;
    background-color: var(--sections-green);
}

@media screen and (min-width: 1500px) {
    .titles h3 {
        font-size: 3.2em;
    }
}

@media screen and (max-width: 980px) {
    .titles {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .titles h3 {
        width: 100%;
        margin: 0;
        font-size: 2em;
        line-height: 1.1;
        margin-top: 1em;
    }

    .titles p {
        width: 100%;
        margin-top: 1em;
    }

    .subtitle.wide,
    .subtitle.normal {
        width: 100%;
    }

    .btn {
        height: 50px;
        width: 150px;
    }

}