.main-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-end;
    justify-content: center;
}

.contact-container {
    display: flex;
    gap: 2em;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
}

.map-container {
    width: 90%;
    margin: 2em auto;
    position: relative;
}

.map-iframe {
    position: relative;
    height: 400px;
    width: 100%;
    border-radius: 12px;
    overflow: "hidden";
    box-shadow: "0 0 10px rgba(0,0,0,0.15)";
}

.map-container::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1100px, 90%);
    height: 1px;
    background: black;
}


.form-container {
    display: flex;
    flex-direction: column;
    margin: 6em;
}

.headline {
    color: var(--sections-red);
    font-size: 3rem;
    font-weight: 600;
}

.form-info {
    display: flex;
    gap: 2rem;
    margin: 1em;
    align-items: center;
    width: 100%;
}

.form-info p {
    font-size: 1.1em;
}

.form-icons {
    font-size: 2rem;
}

@media screen and (max-width: 898px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .contact-container {
        flex-direction: column;
    }

    .form-container {
        margin: 2em;
    }

    .headline {
        text-align: center;
    }

}

@media screen and (max-width: 550px) {

    .form-container {
        margin: 1rem;
    }

    .headline {
        font-size: 2rem;
    }
}